mat-table {
  width: 100%;
}

table.mat-table {
  font-size: 15px;
}

.mat-header-cell {
  background-color: #e3f2fd;

  font-weight: bold;
}

.mat-chip {
  font-weight: 500;

  font-size: 13px;
}

button[mat-stroked-button] mat-icon {
  margin-right: 6px;
}
