<div

  class="bg-white border-bottom shadow-sm position-sticky w-100 d-flex align-items-center px-4 py-2 gap-4"

  style="top: 56px; z-index: 1050; height: 56px"

>

  <a

    class="submenu-link"

    routerLink="/employee-dashboard"

    routerLinkActive="active-link"

    [routerLinkActiveOptions]="{ exact: true }"

  >

    <i class="bi bi-house-door-fill"></i> Home

  </a>


 

  <a

    class="submenu-link"

    routerLink="/job"

    routerLinkActive="active-link"

  >

    <i class="bi bi-list-ul"></i> All Jobs

  </a>


 

  <a

    class="submenu-link"

    routerLink="/applied-jobs"

    routerLinkActive="active-link"

  >

    <i class="bi bi-check2-circle"></i> Applied Jobs

  </a>

</div>