<app-navbar [userName]="managerName"></app-navbar>
<div class="applicants-container">
  <h2 style="text-align: center; margin-top: 2%;" class="bi bi-people"> Applicants</h2>
  <table>
    <thead>
      <tr>
        <th>Applicant Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Applicant Profile</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of applicants">
        <td>{{ applicant.userId }}</td>
        <td>{{ applicant.name }}</td>
        <td>{{ applicant.email }}</td>
        <td><a href="#" (click)="viewProfile(applicant)">View Profile</a></td>
        <td>
          <span>
            {{ applicant.status }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
