.container-fluid {
  background-color: #f8f9fa;

  font-family: "Segoe UI", sans-serif;

  width: 100vw; /* full viewport width */

  height: 100vh; /* full viewport height */

  padding: 40px; /* remove default padding */

  box-sizing: border-box;
}

.card {
  background-color: #ffffff;

  border: none;

  border-radius: 8px;
}

.form-control {
  background-color: #f8f9fa;

  border: 1px solid #ced4da;

  color: #212529;
}

.d-grid {
  display: flex;

  justify-content: center;
}

.row {
  display: flex;

  justify-content: center;

  border-radius: 1rem;

  background-color: #f8f9fa;
}

.success-overlay {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100vh;

  background-color: rgba(255, 255, 255, 0.8);

  z-index: 9999;
}




.linkedin-navbar {
  background-color: #0077B5 !important;
}

.linkedin-navbar .navbar-brand,
.linkedin-navbar .nav-link,
.linkedin-navbar .navbar-toggler-icon {
  color: white !important;
}

.linkedin-btn {
  background-color: #0077B5;
  color: white;
  border: none;
}

.linkedin-btn:hover {
  background-color: #005f93;
}
