<app-navbar [userName]="managerName"></app-navbar>

<div class="applicants-container">

  <h2 style="text-align: center; margin-top: 2%;" class="bi bi-people"> Applicants</h2>

  <table>

    <thead>

      <tr>

        <th>Applicant Id</th>

        <th>Name</th>

        <th>Email</th>

        <th>Applicant Profile</th>

        <th>Status</th>

        <th>Update Status</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let applicant of applicants">

        <td>{{ applicant.userId }}</td>

        <td>{{ applicant.name }}</td>

        <td>{{ applicant.email }}</td>

        <td><a href="#" (click)="viewProfile(applicant)">View Profile</a></td>

        <td>

          <span>

            {{ applicant.status }}

          </span>

        </td>

        <td>

          <select [(ngModel)]="applicant.status" >

            <option value="Rejected">Rejected</option>

            <option value="Shortlisted">Shortlisted</option>

            <option value="Accepted - Pending Approval">Accepted - Pending Approval</option>

          </select>

          <button (click)="submitStatus(applicant)" [disabled] = "applicant.status == 'Selected'">Submit</button>

        </td>

      </tr>

    </tbody>

  </table>

</div>


 